<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidtitan.culturedapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".main.CulturedApp"
        android:allowBackup="true"
        android:icon="@mipmap/cultured_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".main.newsfeed.ui.NewsFeedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.toparticle.ui.TopArticleActivity"
            android:label="@string/title_activity_top_article"
            android:parentActivityName=".main.newsfeed.ui.NewsFeedActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.cultured.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.trending.ui.TrendingActivity"
            android:label="@string/title_activity_trending"
            android:parentActivityName=".main.newsfeed.ui.NewsFeedActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.newsfeed.ui.NewsDetailActivity"
            android:label="@string/title_activity_news_detail"
            android:parentActivityName=".main.newsfeed.ui.NewsFeedActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.androidtitan.culturedapp.main.newsfeed.ui.NewsFeedActivity" />
        </activity>
        <activity android:name=".main.preferences.PreferencesActivity" />

        <!-- SyncAdapter Components -->

        <service android:name=".main.sync.ArticleAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".main.sync.ArticleSyncService"
            android:exported="false"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".main.provider.CulturedContentProvider"
            android:authorities="com.androidtitan.culturedapp.provider"
            android:enabled="true"
            android:exported="false"
            android:syncable="true" />

        <!-- Firebase Services -->
        <service android:name=".main.firebase.FbMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".main.firebase.FbInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".main.web.services.FacetDeleteService"
            android:enabled="true"
            android:process=":facetServices" />
        <service
            android:name=".main.web.services.FacetDownloadJobService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":facetServices" />

        <!-- AppWidgets -->
        <receiver android:name=".widget.ui.ImageWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_widget_provider_info" />
        </receiver>
        <receiver android:name=".widget.ui.FacetCollectionWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/facet_collection_widget_provider_info" />
        </receiver>

        <service
            android:name=".widget.FacetCollectionWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:process=":collectionWidgetService" />

        <receiver
            android:name=".widget.AlarmBroadcastReceiver"
            android:process=".alarmBroadcastReceiver" />

        <activity
            android:name=".main.newsfeed.ui.OfflineActivity"
            android:label="@string/title_activity_offline"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>