<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidtitan.alphaarmyapp" >
 <!--   <uses-sdk android:minSdkVersion="21" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/androidcircle"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.androidtitan.trooPTracker.Activity.LandingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.androidtitan.trooPTracker.Activity.AdderActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_second"
            android:parentActivityName="com.androidtitan.trooPTracker.Activity.LandingActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.androidtitan.trooPTracker.Activity.ChampionActivity"
            android:label="@string/title_activity_champion" >
        </activity>
    </application>

</manifest>
