<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidtitan.hotspots">

    <!-- Google Maps Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- <uses-sdk android:minSdkVersion="21" /> -->
    <application
        android:name=".main.application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_plane"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".main.ui.activities.NewsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.ui.activities.NewsDetailActivity"
            android:parentActivityName=".main.ui.activities.NewsActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".main.ui.activities.MusicActivity"
            android:parentActivityName=".main.ui.activities.NewsDetailActivity"/>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
